@{
    ViewBag.Title = "About";
}

<style>
    h1{
        text-align:center;
        color:lightblue;
    }


</style>
<h1>Royal</h1>
<h2>Royal is the ultimate Gaming Platform for all gamers around the world</h2>
