
@{
    ViewBag.Title = "Friendlist";
}
<style>
    h2{
        color:blue;
    }
    h1{

        text-align:center;
    }
    h3 {
        background-color: crimson;
        color: #fff;
        padding: 10px;
        margin: 10px;
    }
    body{
        background-color:cyan;
    }


</style>
<h1>Friendlist</h1>

<body>

<h2>Offline</h2>
<h3>Chris</h3>
<small>last seen 8:45</small>
<h3>John</h3>
<small>last seen 10:25</small>
<h3>Jack</h3>
<small>last seen 3:10</small>

<h2>Online</h2>
<h3>Dora</h3>
<h3>Liam</h3>
<h3>Peter</h3>
</body>