
@{
    ViewBag.Title = "Library";
}
<style>
    h1{
        text-align:center;
    }
    h3{
        
    }
 
</style>
<h1 class="box sdsd"> Games</h1>
<h3>Apex Legends</h3>
<h3>Csgo</h3>
<h3>Valorant</h3>
<h3>Cuphead</h3>
<h3>Ori and the will of the wisps</h3>
<h3>League of Legends</h3>
<h3>Dota 2</h3>
<h3>The Witcher 3</h3>

